#### 初期設定

In [12]:
%run main.py

In [19]:
import pandas as pd
import glob
from IPython.display import display_html
from IPython.display import Markdown as md

file_list = [f for f in glob.glob("*.csv")]
file_list.sort(reverse=True)
latest_file = file_list[:3]
trust_csv, foreign_csv, dealer_csv = latest_file
df_foreign = pd.read_csv(foreign_csv)
df_trust = pd.read_csv(trust_csv)
df_dealer = pd.read_csv(dealer_csv)
date_string = latest_file[0].split('.')[0].split('_')[0]
date_string_f = f'{date_string[:4]}-{date_string[4:6]}-{date_string[6:]}'
md("# {} 三大法人買賣超排行".format(date_string_f))

# 2023-04-28 三大法人買賣超排行

### 外資

In [14]:
df_top_styler = df_foreign.head(20).style.hide(
    axis='index').set_table_attributes("style='display:inline'").set_caption('買超排行')
df_bottom_styler = df_foreign.tail(20).sort_values(by='外陸資買賣超股數(不含外資自營商)').style.hide(
    axis='index').set_table_attributes("style='display:inline'").set_caption('賣超排行')

display_html(df_top_styler._repr_html_() +
             df_bottom_styler._repr_html_(), raw=True)

證券代號,證券名稱,外陸資買賣超股數(不含外資自營商)
3037,欣興,29511184
00637L,元大滬深300正2,15957000
2353,宏碁,15176144
2801,彰銀,12151377
00712,復華富時不動產,10125000
1605,華新,9198555
2891,中信金,6702172
2881,富邦金,6447503
2317,鴻海,6247230
2834,臺企銀,5913000
2887,台新金,5829443
00665L,富邦恒生國企正2,4658000
00753L,中信中國50正2,4153000
2408,南亞科,3990916
2882,國泰金,3890468
00632R,元大台灣50反1,3820000
2352,佳世達,3799000
2888,新光金,3488021
2360,致茂,3102500
2618,長榮航,3085309
證券代號,證券名稱,外陸資買賣超股數(不含外資自營商)
2409,友達,-57137504
3481,群創,-53457246
2344,華邦電,-13463000
2303,聯電,-7929168
2880,華南金,-6894916
6770,力積電,-6123352
3704,合勤控,-5428874
1101,台泥,-4790000
2337,旺宏,-4383312
2603,長榮,-3431421
6116,彩晶,-3258000
2402,毅嘉,-2753000
0050,元大台灣50,-2734150
00893,國泰智能電動車,-2344000
6269,台郡,-2112044
2890,永豐金,-2110491
2002,中鋼,-2006192
9904,寶成,-1930996
2609,陽明,-1889255
4968,立積,-1861412

### 投信

In [15]:
df_top_styler = df_trust.head(20).style.hide(
    axis='index').set_table_attributes("style='display:inline'").set_caption('買超排行')
df_bottom_styler = df_trust.tail(20).sort_values(by='投信買賣超股數').style.hide(
    axis='index').set_table_attributes("style='display:inline'").set_caption('賣超排行')

display_html(df_top_styler._repr_html_() +
             df_bottom_styler._repr_html_(), raw=True)

證券代號,證券名稱,投信買賣超股數
6770,力積電,4189000
2883,開發金,2779000
2634,漢翔,2242000
3037,欣興,2027000
3231,緯創,1372000
2455,全新,1103000
2204,中華,999000
1605,華新,905000
3017,奇鋐,822513
2353,宏碁,819000
2454,聯發科,667000
2303,聯電,648000
9904,寶成,634000
6202,盛群,579000
4968,立積,542000
2330,台積電,514800
2308,台達電,513000
2301,光寶科,511000
2344,華邦電,499000
4938,和碩,480000
證券代號,證券名稱,投信買賣超股數
2409,友達,-4759000
6239,力成,-2394000
8150,南茂,-1935000
4961,天鈺,-1652000
3711,日月光投控,-845400
3006,晶豪科,-829000
6789,采鈺,-705000
4919,新唐,-587000
5388,中磊,-500000
6799,來頡,-495000
2605,新興,-450000
2337,旺宏,-408000
3035,智原,-350000
2049,上銀,-343000
3702,大聯大,-340000
4977,眾達-KY,-293000
2002,中鋼,-287000
3034,聯詠,-286000
6443,元晶,-259000
2379,瑞昱,-247260

### 自營商

In [16]:
df_top_styler = df_dealer.head(20).style.hide(
    axis='index').set_table_attributes("style='display:inline'").set_caption('買超排行')
df_bottom_styler = df_dealer.tail(20).sort_values(by='自營商買賣超股數').style.hide(
    axis='index').set_table_attributes("style='display:inline'").set_caption('賣超排行')

display_html(df_top_styler._repr_html_() +
             df_bottom_styler._repr_html_(), raw=True)

證券代號,證券名稱,自營商買賣超股數
00673R,期元大S&P原油反1,44644000
00637L,元大滬深300正2,30025728
00632R,元大台灣50反1,16083181
00924,復華S&P500成長,11976905
00650L,復華香港正2,1999230
00633L,富邦上証正2,1841894
00664R,國泰臺灣加權反1,1786485
2352,佳世達,1479801
2303,聯電,1376127
00665L,富邦恒生國企正2,1370153
00655L,國泰中國A50正2,1264134
2618,長榮航,1254798
3037,欣興,1195223
00882,中信中國高股息,1155495
2408,南亞科,967704
00753L,中信中國50正2,839240
2881,富邦金,745695
2882,國泰金,660815
1605,華新,635428
00674R,期元大S&P黃金反1,629000
證券代號,證券名稱,自營商買賣超股數
00680L,元大美債20正2,-25727739
00715L,期街口布蘭特正2,-21877000
00671R,富邦NASDAQ反1,-14776010
00878,國泰永續高股息,-11272265
00669R,國泰美國道瓊反1,-4865350
00648R,元大S&P500反1,-4794000
00706L,期元大S&P日圓正2,-3862000
00688L,國泰20年美債正2,-3463000
00712,復華富時不動產,-3395808
00900,富邦特選高股息30,-3153199
00642U,期元大S&P石油,-2377000
00830,國泰費城半導體,-2182438
00923,群益台灣ESG低碳,-1646203
006208,富邦台50,-1620502
0056,元大高股息,-1553862
3481,群創,-1544082
00902,中信電池及儲能,-1455746
00885,富邦越南,-1325156
00893,國泰智能電動車,-1205813
00713,元大台灣高息低波,-1172718